.nav_text_left a:last-child{
    padding-bottom: 10px;
    border-bottom: 2px solid #c30000;
    color: #c30000;
}
/*zhuti css*/
.f_con{
    display: flex;
    height: 548px;
    text-align: center;
}
.f_con h3{
    margin-bottom: 40px;
    line-height: 170px; 
    width: 170px;
    height: 170px;
    border-radius: 50%;
    font-size: 20px;
    color: #1a1a1a;
    font-weight: bold;
    background: #f2f2f2;
}
.f_con1,.f_con3{
    margin:250px 169px 0 0;
}
.f_con2,.f_con4{
    margin:84px 184px 0 0;
}
.f_con4{
    margin-right: 0;
}

/*dingwei css*/
.second{
    width: 100%;
    height: 830px;
    background: #f2f2f2;
}
.sec_1 h4,.sec_2 h4,.sec_3 h4,.sec_4 h4{
    margin:32px 0 0 60px;
    font-size: 20px;
    color: #1a1a1a;
}
.sec_1 p,.sec_2 p,.sec_3 p,.sec_4 p{
    margin-left:156px;
    font-size: 12px;
    color: #1a1a1a;
}
.sec_1 img{
    margin: 119px 24px 0 0;
}
.sec_2 img{
    margin-top: 90px;
}
.sec_3 img{
    margin: 46px 18px 0 0;
}
.sec_4 img{
    margin: 144px 0 0 0;
}