/*头部*/
.nav_text_left a:nth-child(4){
    padding-bottom: 10px;
    border-bottom: 2px solid #c30000;
    color: #c30000;
}

/*主体*/
.banner img{
    width: 100%;
}
.zhaiquan,.guquan,.zhengquan,.haiwai{
    display: flex;
    align-items:center;
}
.zhaiquan div.img1,.guquan div.img2,.zhengquan div.img3,.haiwai div.img4{
    width: 668px;
    height: 460px;
    background:url(../images/ziyuanguanli-box.png) no-repeat;
}
.zhaiquan div.img1,.zhengquan div.img3,.guquan div.img2,.haiwai div.img4{
    margin: 78px 0 0 42px;
    padding: 18px 0 0 18px;
}
.guquan div.img2,.haiwai div.img4{
    margin-left: 0;
}
.haiwai{
    margin-bottom: 20px;
}
.content div.text1 h4,.content div.text2 h4,.content div.text3 h4,.content div.text4 h4{
    padding-bottom: 24px;
    font-size: 24px;
    color: #1a1a1a;
}
.content div.text1 p,.content div.text2 p,.content div.text3 p,.content div.text4 p{
    line-height: 20px;
    font-size: 12px;
    color: #4c4c4c;
}
.content div.text1,.content div.text3{
    padding-left: 48px;
}
.content div.text2,.content div.text4{
    text-align: right;
    padding-right: 48px;
}

/*分类*/
.forekuai{
    margin-bottom: 96px;
}
.fore_icon{
    display: flex;
    justify-content:space-between;
    height: 402px;
}
.fore_icon .icon1,.fore_icon .icon2,.fore_icon .icon3,.fore_icon .icon4{
    text-align: center;
    width: 292px;
    background-color: rgba(0,0,0,.05);
}
.fore_icon .icon1 img,.fore_icon .icon2 img,.fore_icon .icon3 img,.fore_icon .icon4 img{
    margin: 42px auto 54px;
}
.fore_icon .icon1 h3,.fore_icon .icon2 h3,.fore_icon .icon3 h3,.fore_icon .icon4 h3{
    margin-bottom: 42px;
    font-size: 30px;
    color: #4c4c4c;
}
.fore_icon .icon1 p,.fore_icon .icon2 p,.fore_icon .icon3 p,.fore_icon .icon4 p{
    font-size: 12px;
    color: #808080;
    line-height: 22px;
}
.dianji{
    display: flex;
    justify-content:center;
    margin-top: 22px;
}